name: Build Windows Only

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        # 【修改点1】只保留 Windows 环境，移除 Ubuntu 和 MacOS
        os: [windows-latest]
        arch: [x64]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          architecture: ${{ matrix.arch }}
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Build Executable
        uses: Nuitka/Nuitka-Action@main
        with:
          # 【修改点2】确保使用 stable 稳定版，防止参数冲突
          nuitka-version: stable
          script-name: main.py
          onefile: true

      # 【修改点3】移除了所有 Linux 和 macOS 的 Copy 步骤，只保留 Windows
      - name: Copy Files (Windows)
        run: |
          mkdir output
          mkdir output/libimobiledevice
          cp build/*.exe output/
          cp config.yaml output/
          cp *route.txt output/
          cp -r DeveloperDiskImage output/
          cp -r libimobiledevice/win output/libimobiledevice
        
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: iOSRealRun-cli-Windows-${{ matrix.arch }}
          path: |
            output/
